@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    @apply p-4 justify-self-end w-48 text-lg text-white bg-gradient-to-r from-cyan-500 to-blue-500 rounded-xl border-2 border-sky-100 shadow-md focus:outline-none focus:ring-2 focus:ring-blue-400 focus:ring-opacity-75;
  }
}
